!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:name => "google-site-verification", "content" => "KSYr9VlWuSgh-ZjRcgJWAAZY1w8PKORJMRJj_JcypwA"}/
    %title Cyclepark
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = csrf_meta_tags
  %body
    = yield
